<h1>Login</h1>

<form action="" id="loginForm">
    <label for="">Email</label>
    <input type="email" name="email">
    <br>

    <label for="">Password</label>
    <input type="password" name="password">
    <br>

    <button type="submit">Log in</button>

    <a href="https://ecommerce-ch-nodejs-express-production.up.railway.app/api/login/forgot-password">¿Forgot your password?</a>
</form>

<a href="https://ecommerce-ch-nodejs-express-production.up.railway.app/api/login/github"><button>Ingresar con Github</button></a>

<p>¿You dont have an account?</p>
<button id="redirectSignup">
    Signup First!
</button>

<script src="/js/login.js"></script>